# DSC 80: Lab 06

### Due Date: Tuesday February 18th, 11:59 PM

## Instructions
Much like in DSC 10, this Jupyter Notebook contains the statements of the problems and provides code and markdown cells to display your answers to the problems. Unlike DSC 10, the notebook is *only* for displaying a readable version of your final answers. The coding work will be developed in an accompanying `lab*.py` file, that will be imported into the current notebook.

Labs and programming assignments will be graded in (at most) two ways:
1. The functions and classes in the accompanying python file will be tested (a la DSC 20),
2. The notebook will be graded (for graphs and free response questions).

**Do not change the function names in the `*.py` file**
- The functions in the `*.py` file are how your assignment is graded, and they are graded by their name. The dictionary at the end of the file (`GRADED FUNCTIONS`) contains the "grading list". The final function in the file allows your doctests to check that all the necessary functions exist.
- If you changed something you weren't supposed to, just use git to revert!

**Tips for working in the Notebook**:
- The notebooks serve to present you the questions and give you a place to present your results for later review.
- The notebook on *lab assignments* are not graded (only the `.py` file).
- Notebooks for PAs will serve as a final report for the assignment, and contain conclusions and answers to open ended questions that are graded.
- The notebook serves as a nice environment for 'pre-development' and experimentation before designing your function in your `.py` file.

**Tips for developing in the .py file**:
- Do not change the function names in the starter code; grading is done using these function names.
- Do not change the docstrings in the functions. These are there to tell you if your work is on the right track!
- You are encouraged to write your own additional functions to solve the lab! 
    - Developing in python usually consists of larger files, with many short functions.
    - You may write your other functions in an additional `.py` file that you import in `lab**.py` (much like we do in the notebook).
- Always document your code!

### Importing code from `lab**.py`

* We import our `.py` file that's contained in the same directory as this notebook.
* We use the `autoreload` notebook extension to make changes to our `lab**.py` file immediately available in our notebook. Without this extension, we would need to restart the notebook kernel to see any changes to `lab**.py` in the notebook.
    - `autoreload` is necessary because, upon import, `lab**.py` is compiled to bytecode (in the directory `__pycache__`). Subsequent imports of `lab**` merely import the existing compiled python.

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import lab06 as lab

In [3]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import os
import time
from IPython.display import HTML

In [4]:
import requests
import bs4

# Basic HTML tags practice

**Question 1**

Create a very basic `html` file that satisfies the following properties:

1. Has `<head>` and `<body>` tags.
2. Has a title
3. Inside the body tags:
    * At least two headers
    * At least three images:
        * At least one image must be a local file;
        * At least one image must be linked to online source; 
        * At least one image has to have default text when it cannot be displayed.
    * At least three references (hyperlinks) to different web pages;
    * At least one table with two columns.
    
        
   
4. Save your work as `lab06_1.html` in the same directory as `lab06.py`, make sure it loads in the browser and do not forget to submit it.
5. **Do not forget to submit all data files needed to display your page.**

**Note:** You can toy with (basic) HTML in the cells of a notebook, using either a "markdown cell" or by using the `IPython.display.HTML` function. However, be sure to open your saved file in a browser to be sure the page displays properly!

**Note:** If you work within Jupyter Notebook, you can later copy your text into a text editor and save it with the .html extension.

In [5]:
s = """
<html>
   <head>
      <meta charset="utf-8">
      <title>Tag Practices</title>
      <style>
         table, th, td {
         border: 1px solid black;
         border-collapse: collapse;
         }
         th, td {
         padding: 10px;
         }
         th {
         text-align: middle;
         }
      </style>
   </head>
   <body>
      <div id='fav show'>
         <h1>Favorite TV Show</h1>
         <p>Arrow</p>
         <img src="https://www.urgeofcreativity.com/wp-content/uploads/2016/09/The-Arrow-featured-image-696x392.jpeg" alt="Arrow" width="696" height="392">
         <p>Sense8</p>
         <img src="Sense8.jpg" alt="Sense8" width="696" height="392">
         <p>Person Of Interest</p>
         <img src="https://pmcdeadline2.files.wordpress.com/2016/06/poiseason5alternative.jpg?w=681&h=383&crop=1" alt="Person Of Interest" width="696" height="392">
         <p>Supernatural</p>
         <img src="Supernatural.jpg" alt="Supernatural" width="696" height="392">
      </div>
      <div id='psyc tool'>
         <h1>Useful Psychology Tools</h1>
         <a href="https://owl.purdue.edu/owl/research_and_citation/apa_style/apa_formatting_and_style_guide/general_format.html">APA Format Guide</a>
         <br>
         <a href="https://www.psytoolkit.org/">Psychology Toolkit</a>
         <br>
         <a href="https://www.psychologytoday.com/us">Psychology Today</a>
         <br>
         <a href="https://www.simplypsychology.org/">Simple Psychology</a>
         <br>
      </div>
      <div id='my grades'>
         <h1>My Grades</h1>
         <table style="width:20%">
            <tr>
               <th>Class</th>
               <th>Letter Grade</th>
            </tr>
            <tr>
               <td>COGS 9</td>
               <td>A</td>
            </tr>
            <tr>
               <td>COGS 108</td>
               <td>A+</td>
            </tr>
            <tr>
               <td>DSC 10</td>
               <td>A+</td>
            </tr>
            <tr>
               <td>DSC 20</td>
               <td>A+</td>
            </tr>
            <tr>
               <td>DSC 30</td>
               <td>A</td>
            </tr>
            <tr>
               <td>DSC 40A</td>
               <td>A</td>
            </tr>
            <tr>
               <td>DSC 80</td>
               <td>WIP</td>
            </tr>
         </table>
      </div>
   </body>
</html>
"""
# 1) Default text means paragraph text? Or the 'alt'?????????????????????????????????????????????????????
# 2) Three headers mean h1? Do not have to be h1, h2, h3 in hierarchical orders?????????????????????????????????????????????????????
# Arrow img link: https://www.urgeofcreativity.com/wp-content/uploads/2016/09/The-Arrow-featured-image-696x392.jpeg
# POI img link: https://pmcdeadline2.files.wordpress.com/2016/06/poiseason5alternative.jpg?w=681&h=383&crop=1

In [6]:
HTML(s)

# Scraping an Online Bookstore

**Question 2**

Browse through the following fake on-line bookstore: http://books.toscrape.com/. This website is meant for toying with scraping.

Scrape the website, collecting data on all books that have **at least a four-star rating**, with a price **under £50** and belong to the book categories you want. You should collect the data in a dataframe as below (if you get an encoding error on your prices columns, like you see in the table below, don't worry about it):
<img src="bookdata.png">


Do this using the following steps:
1. Create a function `extract_book_links` that takes in the content of a book-listing page (a string of html), and returns a list of urls of book-detail pages that satisfy the requirements on "*at least* a four-star rating, and prices are *under* £50". 

2. Create a function `get_product_info` that takes in the content of a book-detail page (a string of html), a variable `categories` that is a list of book categories you want. If this input book is in the categories you want, returns a dictionary corresponding to a row in the dataframe in the image above (where the keys are the column names and the values are the row values); else, skip this book since this is not the book you want (ie. return None).

3. Create a function `scrape_books` of a single variable `k` that scrapes the first `k` pages of the bookstore (as determined by starting at the url above and clicking on the 'next' button),a variable `categories` that is a list of book categories you want, and returns a dataframe of books as the picture above. (Note: make sure the books returned satisfy the requirements set in part 1 about rating and price).


*Note:* Your function should take under 180 seconds to run through the entire bookstore.

*Note:* Don't worry about type casting (ie changing number of reviews to an int)

In [7]:
fp = os.path.join('data', 'products.html')
text = open(fp, encoding='utf-8').read()

In [8]:
soup = bs4.BeautifulSoup(text, 'lxml')
# print(soup.prettify())

In [9]:
# extract_book_links
def extract_book_links(text):
    """
    :Example:
    >>> fp = os.path.join('data', 'products.html')
    >>> out = extract_book_links(open(fp, encoding='utf-8').read())
    >>> url = 'scarlet-the-lunar-chronicles-2_218/index.html'
    >>> out[1] == url
    True
    """
    soup = bs4.BeautifulSoup(text, 'lxml')
    urls = []
    for book in soup.find_all('article', attrs={'class':'product_pod'}):
        # title = book.find('h3').a.get('title') # Title of the book
        url = book.find('h3').a.get('href') # Url of the book
        rating = book.find('p', attrs={'class':'star-rating'}).get('class')[1] # Rating of the book
        price = float(book.find('p', attrs={'class':'price_color'}).text.strip('Â').strip('£')) # Price of the book

        if (rating in ['Four', 'Five']) and (price < 50): # Rating at least four star, price less than £50
            urls.append(url)
    return urls # Answer

In [10]:
extract_book_links(text)

['seven-brief-lessons-on-physics_219/index.html',
 'scarlet-the-lunar-chronicles-2_218/index.html',
 'saga-volume-3-saga-collected-editions-3_216/index.html',
 'running-with-scissors_215/index.html',
 'rise-of-the-rocket-girls-the-women-who-propelled-us-from-missiles-to-the-moon-to-mars_213/index.html',
 'ready-player-one_209/index.html']

In [11]:
fp = os.path.join('data', 'Frankenstein.html')
text = open(fp, encoding='utf-8').read()

In [12]:
soup = bs4.BeautifulSoup(text, 'lxml')
# print(soup.prettify())

In [13]:
categories = ['Default', 'Humor', 'Art']
# get_product_info
def get_product_info(text, categories):
    """
    :Example:
    >>> fp = os.path.join('data', 'Frankenstein.html')
    >>> out = get_product_info(open(fp, encoding='utf-8').read(), ['Default'])
    >>> isinstance(out, dict)
    True
    >>> 'Category' in out.keys()
    True
    >>> out['Rating']
    'Two'
    """
    soup = bs4.BeautifulSoup(text, 'lxml')
    headers = ['Availability', 'Category', 'Description', 'Number of reviews', 'Price (excl. tax)', 'Price (incl. tax)', 'Product Type', 'Rating', 'Tax', 'Title', 'UPC'] # Headers of the dictionary

    # Type, Category and Title
    gens = soup.find('body', attrs={'id':'default'}).find('div', attrs={'class':'container-fluid'}).find_all('li')
    ptype, category, title = gens[1].text.strip(), gens[2].text.strip(), gens[3].text.strip() # Get product type, category, title
    if category not in categories: # Book not what we want
            return None

    # Availability, Description, Number of reviews, Price, Tax, Rating, UPC
    article = soup.find('article', attrs={'class':'product_page'})
    rating = article.find('p', attrs={'class':'star-rating'}).get('class')[1].strip() # Rating of the book

    desrc_head = article.find('div', attrs={'class':'sub-header', 'id':'product_description'})
    description = desrc_head.findNext('p').text.strip() # Decription

    infos = article.find('table', attrs={'class':['table', 'table-striped']})
    infos_head = infos.find_all('th')
    for head in infos_head: # Loop through headers
        if head.text == 'UPC': # UPC
            upc = head.findNext('td').text.strip()
        elif head.text == 'Price (excl. tax)': # Price (excl. tax)
            pri_ex_tax = head.findNext('td').text.strip()
        elif head.text == 'Price (incl. tax)': # Price (incl. tax)
            pri_in_tax = head.findNext('td').text.strip()
        elif head.text == 'Tax': # Tax
            tax = head.findNext('td').text.strip()
        elif head.text == 'Availability': # Availability
            avail = head.findNext('td').text.strip()
        elif head.text == 'Number of reviews': # Number of reviews
            no_rev = head.findNext('td').text.strip()

    content = [avail, category, description, no_rev, pri_ex_tax, pri_in_tax, ptype, rating, tax, title, upc]
    return dict(zip(headers, content))

In [14]:
# get_product_info(text, categories)

In [15]:
# scrape_books
def scrape_books(k, categories):
    """
    :param k: number of book-listing pages to scrape.
    :returns: a dataframe of information on (certain) books
    on the k pages (as described in the question).

    :Example:
    >>> out = scrape_books(1, ['Mystery'])
    >>> out.shape
    (1, 11)
    >>> out['Rating'][0] == 'Four'
    True
    >>> out['Title'][0] == 'Sharp Objects'
    True
    """
    df = pd.DataFrame() # Contain the result
    url = 'http://books.toscrape.com/'
    web = requests.get(url)
    for _ in range(k):
        # print(_)
        url_text = web.text # Get text of page
        book_links = extract_book_links(url_text) # Get book_links at least four star, price less than 50

        if len(book_links) != 0: # If no book of four/five star, and price less than 50
            for link in book_links: # Loop through book links
                if link[0:10] != 'catalogue/': # Fix no found urls
                    link = 'catalogue/' + link
                # print(url + link)
                book_text = requests.get(url + link).text
                dic = get_product_info(book_text, categories)
                df = df.append(dic, ignore_index=True) # Append met book to df

        # Get next page url
        soup = bs4.BeautifulSoup(url_text, 'html.parser')
        nxt = soup.find('li', attrs={'class':'next'}) # Find next button section
        if nxt == None: # Last page, no next url
            continue
        
        app = nxt.find('a').get('href') # Next page url appendant
        if app[0:10] != 'catalogue/': # Fix no found urls
            app = 'catalogue/' + app
        print(app)
        web = requests.get(url + app)
    return df

In [16]:
%%time
k = 50
categories = ['Humor', 'Art', 'Mystery']
df = scrape_books(k, categories)

catalogue/page-2.html
catalogue/page-3.html
catalogue/page-4.html
catalogue/page-5.html
catalogue/page-6.html
catalogue/page-7.html
catalogue/page-8.html
catalogue/page-9.html
catalogue/page-10.html
catalogue/page-11.html
catalogue/page-12.html
catalogue/page-13.html
catalogue/page-14.html
catalogue/page-15.html
catalogue/page-16.html
catalogue/page-17.html
catalogue/page-18.html
catalogue/page-19.html
catalogue/page-20.html
catalogue/page-21.html
catalogue/page-22.html
catalogue/page-23.html
catalogue/page-24.html
catalogue/page-25.html
catalogue/page-26.html
catalogue/page-27.html
catalogue/page-28.html
catalogue/page-29.html
catalogue/page-30.html
catalogue/page-31.html
catalogue/page-32.html
catalogue/page-33.html
catalogue/page-34.html
catalogue/page-35.html
catalogue/page-36.html
catalogue/page-37.html
catalogue/page-38.html
catalogue/page-39.html
catalogue/page-40.html
catalogue/page-41.html
catalogue/page-42.html
catalogue/page-43.html
catalogue/page-44.html
catalogue/page-45.html
catalogue/page-46.html
catalogue/page-47.html
catalogue/page-48.html
catalogue/page-49.html
catalogue/page-50.html
Wall time: 2min 42s

In [17]:
df

,Availability,Category,Description,Number of reviews,Price (excl. tax),Price (incl. tax),Product Type,Rating,Tax,Title,UPC
0,In stock (20 available),Mystery,"WICKED above her hipbone, GIRL across her hear...",0,Â£47.82,Â£47.82,Books,Four,Â£0.00,Sharp Objects,e00eb4fd7b871a48
1,In stock (18 available),Art,"Banksy, Britain's now-legendary ""guerilla"" str...",0,Â£44.18,Â£44.18,Books,Four,Â£0.00,Wall and Piece,ccd9ffa25efabdea
2,In stock (15 available),Mystery,"In the village of King's Abbot, a widow's sudd...",0,Â£44.10,Â£44.10,Books,Four,Â£0.00,The Murder of Roger Ackroyd (Hercule Poirot #4),c7b5183f4d1d4efe
3,In stock (14 available),Humor,In the latest installment of the phenomenally ...,0,Â£11.83,Â£11.83,Books,Five,Â£0.00,Old School (Diary of a Wimpy Kid #10),02b74068fa98d8a4
4,In stock (14 available),Humor,New York Times bestselling author and stand-up...,0,Â£25.98,Â£25.98,Books,Four,Â£0.00,I Know What I'm Doing -- and Other Lies I Tell...,b8a8ff84233f0570
5,In stock (14 available),Humor,"This is a book I wrote. Because I wrote it, I ...",0,Â£14.75,Â£14.75,Books,Five,Â£0.00,"Hyperbole and a Half: Unfortunate Situations, ...",fbb21a2f71f4d981
6,In stock (14 available),Mystery,Jerome Burnel was once a hero. He intervened t...,0,Â£48.35,Â£48.35,Books,Five,Â£0.00,A Time of Torment (Charlie Parker #14),4416c474713ec1f5
7,In stock (9 available),Art,"""This is a book about making art. Ordinary art...",0,Â£48.63,Â£48.63,Books,Four,Â£0.00,Art and Fear: Observations on the Perils (and ...,d6d9ffea95f2f8bf
8,In stock (8 available),Art,"Now in paperback, Umberto Ecoâs groundbreaki...",0,Â£10.29,Â£10.29,Books,Four,Â£0.00,History of Beauty,8a150fd8ff5d7686
9,In stock (7 available),Mystery,What Happened on Beale Street is an exciting a...,0,Â£25.37,Â£25.37,Books,Five,Â£0.00,What Happened on Beale Street (Secrets of the ...,9735c969c652dd89
10,In stock (7 available),Art,This text is the 16th revised and updated edit...,0,Â£41.14,Â£41.14,Books,Four,Â£0.00,The Story of Art,9147c5251cc99eb1
11,In stock (7 available),Mystery,Quaker midwife Rose Carroll hears secrets and ...,0,Â£20.89,Â£20.89,Books,Four,Â£0.00,Delivering the Truth (Quaker Midwife Mystery #1),4e980425468708da
12,In stock (6 available),Mystery,"Poirot, a Belgian refugee of the Great War, is...",0,Â£24.80,Â£24.80,Books,Four,Â£0.00,The Mysterious Affair at Styles (Hercule Poiro...,2da5edf8b5776c9a
13,In stock (3 available),Humor,It's early autumn 1964. Two straight-A student...,0,Â£30.89,Â£30.89,Books,Five,Â£0.00,When You Are Engulfed in Flames,dab0196cd5fc8e5e
14,In stock (3 available),Mystery,Private investigator Cormoran Strike returns i...,0,Â£23.05,Â£23.05,Books,Five,Â£0.00,The Silkworm (Cormoran Strike #2),f06039c29b5891fa
15,In stock (1 available),Art,John Bergerâs Classic Text on ArtJohn Berger...,0,Â£39.51,Â£39.51,Books,Five,Â£0.00,Ways of Seeing,66a4e422b212726a
16,In stock (1 available),Mystery,Eighteen years ago your baby daughter was snat...,0,Â£12.29,Â£12.29,Books,Five,Â£0.00,The Girl You Lost,4280ac3eab57aa5d

In [18]:
web = requests.get('http://books.toscrape.com/')
url_text = web.text
url = 'http://books.toscrape.com/'
# Get next page
soup = bs4.BeautifulSoup(url_text, 'html.parser')
app = soup.find('li', attrs={'class':'next'}).find('a').get('href') # Next page url appendant
web = requests.get(url + app)

In [19]:
df = pd.DataFrame({'Name':[1, 2, 3]})
df = df.append({'Name':4}, ignore_index=True)
# df.append(None)

In [21]:
web = requests.get('http://books.toscrape.com/catalogue/page-50.html')
soup = bs4.BeautifulSoup(web.text, 'html.parser')
nxt = soup.find('li', attrs={'class':'next'}) # Find next button section
nxt == None # Last page, no next url
# app = nxt.find('a').get('href') # Next page url appendant
#.find('a').get('href')

True

# API Requests
**Question 3**

You trade stocks as a hobby. As an avid pandas coder, you figured it is best to calculate some statistics by pulling data from a public API (https://financialmodelingprep.com/developer/docs/#Stock-Historical-Price). Specifically, "Historical price with change and volume interval".

Some definitions (these are the ones you need to know):
- open: The opening price of a stock at the beginning of a trading day
- close: The closing price of a stock at the end of a trading day
- volume: The total number of shares being traded in a day
- percent change: difference in price with respect to the original price (in percentages)


1. Create a function `stock_history` which takes in the stock code (`ticker`) as a string, `year` and `month` as integers, and return a dataframe which has the price history for that stock in that month (include all columns).

2. Create a function `stock_stats` that takes in the output dataframe from `stock_history` and output the stock price change as a percentage and a rough total transaction volume **in billion dollars** for that month. Assume that on average, shares are traded at the midpoint price of high and low for that day. Return these two values as a tuple in a readable format: reserve 2 decimal points for both values and add a plus or minus sign at the front of the percent change. 
$$ \text{Total Transaction Volume (in dollars)} = \text{Volume (number of shares traded)} \times \text{Price} $$

*Example*: If \\$BYND opens at \\$80 and closes at \\$120 with a volume of 1 million, its percent change for the day is $(\$120-\$80) \div \$80 = +50.00\%$. And the estimated total transaction volume is: $(\$80+\$120) / 2 \times 10^6 = 0.10\text{B}$.


Hint: [pd.date_range](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.date_range.html), 

*Note:* Make sure you read the API documentation if you get stuck!

In [22]:
stock_endpoint = 'https://financialmodelingprep.com/api/v3/historical-price-full/AAPL'

In [23]:
# stock_history
import json
def stock_history(ticker, year, month):
    """
    Given a stock code and month, return the stock price details for that month
    as a dataframe

    >>> history = stock_history('BYND', 2019, 6)
    >>> history.shape == (20, 13)
    True
    >>> history.label.iloc[0]
    'June 03, 19'
    """
    url = 'https://financialmodelingprep.com/api/v3/historical-price-full/' + ticker # Is this the right way???????????
    response = requests.get(url)
    data = response.text
    js = json.loads(data) # Load json data
    
    # Construct dataframe from js file
    df = pd.DataFrame()
    for day in js.get('historical'):
        df = df.append(day, ignore_index=True)
    # df = df.assign(year=pd.to_datetime(df['date']).dt.year)
    # df = df.assign(month=pd.to_datetime(df['date']).dt.month)
    return df[(pd.to_datetime(df['date']).dt.year == year) & (pd.to_datetime(df['date']).dt.month == month)]

In [24]:
# stock_history('AAPL', 2016, 7)
# date_range seems more complicated?????????????????????????????????????????????????????

In [25]:
history = stock_history('BYND', 2019, 6)
history.shape

(20, 13)

In [26]:
history

,adjClose,change,changeOverTime,changePercent,close,date,high,label,low,open,unadjustedVolume,volume,vwap
21,96.16,7.98,0.07663,7.663,96.16,2019-06-03,108.67,"June 03, 19",95.66,104.14,8027700.0,8027700.0,100.16333
22,103.41,-2.16,-0.02133,-2.133,103.41,2019-06-04,103.50,"June 04, 19",97.82,101.25,5484900.0,5484900.0,101.57667
23,102.60,2.90,0.02749,2.749,102.60,2019-06-05,105.50,"June 05, 19",99.64,105.50,4283500.0,4283500.0,102.58000
24,99.50,2.50,0.02451,2.451,99.50,2019-06-06,102.25,"June 06, 19",98.85,102.00,6484000.0,6484000.0,100.20000
25,138.65,-8.65,-0.06654,-6.654,138.65,2019-06-07,149.46,"June 07, 19",120.76,130.00,23916700.0,23916700.0,136.29000
26,168.10,-12.40,-0.07964,-7.964,168.10,2019-06-10,186.43,"June 10, 19",147.00,155.70,24986000.0,24986000.0,167.17667
27,126.04,19.21,0.13225,13.225,126.04,2019-06-11,150.00,"June 11, 19",125.23,145.25,15516000.0,15516000.0,133.75667
28,141.97,-7.98,-0.05956,-5.956,141.97,2019-06-12,150.45,"June 12, 19",131.56,133.99,16918600.0,16918600.0,141.32667
29,141.39,0.13,0.00092,0.092,141.39,2019-06-13,146.45,"June 13, 19",134.25,141.52,9474600.0,9474600.0,140.69667
30,151.48,-9.47,-0.06669,-6.669,151.48,2019-06-14,157.90,"June 14, 19",141.80,142.01,14964600.0,14964600.0,150.39333
31,169.96,-6.78,-0.04155,-4.155,169.96,2019-06-17,171.19,"June 17, 19",160.61,163.18,14626700.0,14626700.0,167.25333
32,169.89,30.11,0.15055,15.055,169.89,2019-06-18,201.88,"June 18, 19",160.70,200.00,23966900.0,23966900.0,177.49000
33,169.28,2.09,0.01220,1.220,169.28,2019-06-19,174.45,"June 19, 19",162.25,171.37,9452000.0,9452000.0,168.66000
34,165.17,7.83,0.04526,4.526,165.17,2019-06-20,174.00,"June 20, 19",163.30,173.00,6660500.0,6660500.0,167.49000
35,154.13,-0.59,-0.00384,-0.384,154.13,2019-06-21,161.79,"June 21, 19",150.00,153.54,7474600.0,7474600.0,155.30667
36,140.99,10.89,0.07170,7.170,140.99,2019-06-24,152.70,"June 24, 19",138.00,151.88,6538500.0,6538500.0,143.89667
37,150.60,-12.10,-0.08736,-8.736,150.60,2019-06-25,150.69,"June 25, 19",138.34,138.50,6632500.0,6632500.0,146.54333
38,160.48,-0.38,-0.00237,-0.237,160.48,2019-06-26,162.25,"June 26, 19",153.02,160.10,6378600.0,6378600.0,158.58333
39,162.91,-5.60,-0.03560,-3.560,162.91,2019-06-27,164.79,"June 27, 19",155.45,157.31,5731400.0,5731400.0,161.05000
40,160.68,4.62,0.02795,2.795,160.68,2019-06-28,168.80,"June 28, 19",159.55,165.30,7315300.0,7315300.0,163.01000

In [ ]:
# stock_stats
# What does the percentageChange has to do with the question????????????????????????????????????????????????????

In [38]:
open_id = pd.to_datetime(history['date']).idxmin()
close_id = pd.to_datetime(history['date']).idxmax()
close_p = history.loc[close_id, 'close'] # Close price for month
open_p = history.loc[open_id, 'open'] # Opening price for month
pct_change = np.round((close_p - open_p) / open_p * 100, 2)

tot_tran = np.round(((history['close'] + history['open']) / 2 * history['volume'] / 1000000000).sum(), 2)
pct_change, tot_tran

(54.29, 33.5)

In [214]:
def stock_stats(history):
    """
    Given a stock's trade history, return the percent change and transactions
    in billion dollars.

    >>> history = stock_history('BYND', 2019, 6)
    >>> stats = stock_stats(history)
    >>> len(stats[0]), len(stats[1])
    (7, 6)
    >>> float(stats[0][1:-1]) > 30
    True
    >>> float(stats[1][:-1]) > 1
    True
    """
    open_id = pd.to_datetime(history['date']).idxmin()
    close_id = pd.to_datetime(history['date']).idxmax()
    close_p = history.loc[close_id, 'close'] # Close price for month
    open_p = history.loc[open_id, 'open'] # Opening price for month
    pct_change = (close_p - open_p) / open_p * 100

    tot_tran = ((history['close'] + history['open']) / 2 * history['volume'] / 1000000000).sum() # Not sure if I got this correct???????????????????????????
    
    change = '%+.2f' % (pct_change) + '%'
    tran = '%.2f' % (tot_tran) + 'B'
    return (change, tran)

In [209]:
stats = stock_stats(history)
len(stats[0]), len(stats[1])
# stats

(7, 6)

In [204]:
'%+.2f' % (54.292298828500094) + '%'

'+54.29%'

In [206]:
'%.2f' % (33.500834782999995) + 'B'

'33.50B'

In [185]:
# Test
# pct_change = np.round((history['close'] - history['open']) / history['open'] * 100, 2)
tot_tran_lst = (history['close'] + history['open']) / 2 * history['volume'] / 1000000000
tot_tran_lst.sum()

33.500834782999995

# Comment Threads

**Question 4**

As a hacker, you get your daily dose of tech news on [Hacker News](https://news.ycombinator.com/). The problem now is that you don't have internet access on your phone in your morning commute to work, so you want to save the interesting stories' comments thread beforehand in a flat file source like csv. You find their API documentation ( https://github.com/HackerNews/API) and implement the following task:

1. Write a function `get_comments` that takes `storyid` as a parameter and returns a dataframe of all the comments below the news story. You can ignore 'dead' comments (you will know it when you see it). **Make sure the order of the comments in your dataframe is from top to bottom just as you see on the website**. You are allowed to use loops in this function. Addtional requirement: write at least one helper method

You only want these information for the comments:
1. `id`: the unique ids
2. `by`: the author of the comment
3. `parent`: who (also in unique ids) they are replying to
4. `text`: the actual comment
5. `time`: when the comment is created (in `pd.datetime` format)

Hints:
1. Use depth-first-search when traversing the comments tree.
2. https://docs.python.org/3/tutorial/datastructures.html#using-lists-as-stacks.
3. Check the size of your dataframe to the story's `descendants` attribute (number of comments).

In [46]:
news_endpoint = "https://hacker-news.firebaseio.com/v0/item/18344932.json"

In [105]:
storyid = 18344932
news_endpoint = 'https://hacker-news.firebaseio.com/v0/item/' + str(storyid) + '.json'
news = json.loads(requests.get(news_endpoint).text)
kids = news.get('kids')
print(news)

{'by': 'ScottWRobinson', 'descendants': 18, 'id': 18344932, 'kids': [18380397, 18346406, 18348601, 18346750, 18346476, 18346746, 18346388], 'score': 47, 'time': 1540987334, 'title': 'TimescaleDB 1.0 Is Production Ready', 'type': 'story', 'url': 'https://blog.timescale.com/1-0-enterprise-production-ready-time-series-database-open-source-d32395a10cbf'}

In [162]:
def out(kids):
    for kid in kids:
        kids_endpoint = 'https://hacker-news.firebaseio.com/v0/item/' + str(kid) + '.json'
        rq = requests.get(kids_endpoint)
        com = json.loads(rq.text)
        # print(com.get('text'), com.get('type'))
        print(com)
        print()

In [181]:
# Helper function to get kids ids with recursion
def get_kids_ids(kids, ids):
    """
    Get all the kids ids within kids.
    
    :param kids: a list of kids ids
    :param ids: id list to append to and return
    :return: a list of kids ids (recursive)
    """
    for kid in kids: # Loop through to check if comment
        kids_endpoint = 'https://hacker-news.firebaseio.com/v0/item/' + str(kid) + '.json'
        info = json.loads(requests.get(kids_endpoint).text)
        
        if not info.get('dead'): # Not dead comment 
            ids.append(info.get('id')) # Append to list ids
            
            if (info.get('kids') != None) and (info.get('type') == 'comment'): # Has kids, is comment
                kids_ids = get_kids_ids(info.get('kids'), []) # Kids id list

                if len(kids_ids) != 0: # Has kids
                    for idx in kids_ids:
                        ids.append(idx) # Append kids to answer

    return ids

In [217]:
def get_comments(storyid):
    """
    Returns a dataframe of all the comments below a news story
    >>> out = get_comments(18344932)
    >>> out.shape
    (18, 5)
    >>> out.loc[5, 'by']
    'RobAtticus'
    >>> out.loc[5, 'time'].day
    31
    """
    news_endpoint = 'https://hacker-news.firebaseio.com/v0/item/' + str(storyid) + '.json'
    news = json.loads(requests.get(news_endpoint).text) # Story info
    kids = news.get('kids') # Kids of story
    
    ids = get_kids_ids(kids, [])
    df = pd.DataFrame()
    cols = ['id', 'by', 'parent', 'text', 'time']
    for idx in ids: 
        kids_endpoint = 'https://hacker-news.firebaseio.com/v0/item/' + str(idx) + '.json'
        com = json.loads(requests.get(kids_endpoint).text)

        by = com.get('by') # Author
        parent = com.get('parent') # Parent id
        text = com.get('text') # Comment text
        time = pd.to_datetime(com.get('time')) # Time of comment # How to change it to datetime??????????????????????????????

        content = [idx, by, parent, text, time] # Content list
        comment = dict(zip(cols, content)) # Zip into dataframe
        df = df.append(comment, ignore_index=True) # Append to answer
    return df

In [218]:
get_comments(18344932)

,by,id,parent,text,time
0,valyala,18380397.0,18344932.0,TimescaleDB is great for storing time series c...,1970-01-01 00:00:01.541400799
1,msiggy,18346406.0,18344932.0,I&#x27;m excited to give this database a try i...,1970-01-01 00:00:01.540999222
2,sman393,18348601.0,18344932.0,Can this be used side by side on normal Postgr...,1970-01-01 00:00:01.541014179
3,RobAtticus,18348631.0,18348601.0,"Yep, absolutely. Regular PostgreSQL tables coe...",1970-01-01 00:00:01.541014492
4,sman393,18348984.0,18348631.0,Good to hear! how does the current TimescaleDB...,1970-01-01 00:00:01.541017426
5,RobAtticus,18349540.0,18348984.0,Not sure I follow exactly what you&#x27;re ask...,1970-01-01 00:00:01.541022440
6,sman393,18350673.0,18349540.0,Alright thanks! I thought I read that Timescal...,1970-01-01 00:00:01.541034719
7,RobAtticus,18351061.0,18350673.0,It does not support sharding writes across mul...,1970-01-01 00:00:01.541039703
8,zip1234,18346750.0,18344932.0,How fast is it when it has a TB of data? I rea...,1970-01-01 00:00:01.541001103
9,nevi-me,18347260.0,18346750.0,I spent about 8 months writing data to TSDB. I...,1970-01-01 00:00:01.541004454
10,dominotw,18347555.0,18346750.0,They have some numbers on their blog. Its very...,1970-01-01 00:00:01.541006374
11,dominotw,18346476.0,18344932.0,I evaluated this heavily but had to backoff be...,1970-01-01 00:00:01.540999649
12,RobAtticus,18346702.0,18346476.0,"Sorry to hear, though I&#x27;d like to mention...",1970-01-01 00:00:01.541000861
13,grumpydba,18347232.0,18346702.0,"Hi,<p>are the upcoming clustering efforts deve...",1970-01-01 00:00:01.541004279
14,jason_slack,18349689.0,18346476.0,What were the specs of the machine you were us...,1970-01-01 00:00:01.541024187
15,athenot,18346746.0,18344932.0,It would be nice if they did a quick compariso...,1970-01-01 00:00:01.541001073
16,RobAtticus,18346787.0,18346746.0,"We do have comparisons, but judging by their M...",1970-01-01 00:00:01.541001399
17,athenot,18346822.0,18346787.0,"Thanks a lot, this is useful for comparing.<p>...",1970-01-01 00:00:01.541001629

## Congratulations! You're done!

* Submit the lab on Gradescope