# DSC 80: Lab 01

### Due Date: Tuesday January 14, Midnight (11:59 PM)

## Instructions
Much like in DSC 10, this Jupyter Notebook contains the statements of the problems and provides code and markdown cells to display your answers to the problems. Unlike DSC 10, the notebook is *only* for displaying a readable version of your final answers. The coding work will be developed in an accompanying `lab01.py` file, that will be imported into the current notebook.

Labs and programming assignments will be graded in (at most) two ways:
1. The functions and classes in the accompanying python file will be tested (a la DSC 20),
2. The notebook will be graded (for graphs and free response questions).

**Do not change the function names in the `*.py` file**
- The functions in the `*.py` file are how your assignment is graded, and they are graded by their name. The dictionary at the end of the file (`GRADED FUNCTIONS`) contains the "grading list". The final function in the file allows your doctests to check that all the necessary functions exist.
- If you changed something you weren't supposed to, just use git to revert!

**Tips for working in the Notebook**:
- The notebooks serve to present you the questions and give you a place to present your results for later review.
- The notebook on *lab assignments* are not graded (only the `.py` file).
- Notebooks for PAs will serve as a final report for the assignment, and contain conclusions and answers to open ended questions that are graded.
- The notebook serves as a nice environment for 'pre-development' and experimentation before designing your function in your `.py` file.

**Tips for developing in the .py file**:
- Do not change the function names in the starter code; grading is done using these function names.
- Do not change the docstrings in the functions. These are there to tell you if your work is on the right track!
- You are encouraged to write your own additional functions to solve the lab! 
    - Developing in python usually consists of larger files, with many short functions.
    - You may write your other functions in an additional `.py` file that you import in `lab01.py` (much like we do in the notebook).
- Always document your code!

### Importing code from `lab**.py`

* We import our `.py` file that's contained in the same directory as this notebook.
* We use the `autoreload` notebook extension to make changes to our `lab**.py` file immediately available in our notebook. Without this extension, we would need to restart the notebook kernel to see any changes to `lab**.py` in the notebook.
    - `autoreload` is necessary because, upon import, `lab**.py` is compiled to bytecode (in the directory `__pycache__`). Subsequent imports of `lab**` merely import the existing compiled python.

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import lab01 as lab

In [3]:
import os
import pandas as pd
import numpy as np

## Python Basics

---
**Question 0 (EXAMPLE):**

Write a function that takes in a possibly empty list of integers and:
* Returns `True` if there exist two adjacent list elements that are consecutive integers.
* Otherwise, returns `False`.

For example, because `9` is next to `8`:
```
>>> lab.consecutive_ints([5,3,6,4,9,8])
True
```
Whereas:
```
>>> lab.consecutive_ints([1,3,5,7,9])
False
```

*Note*: This question is done for you, to demonstrate a completed homework problem.

In [4]:
# Develop your code here (or in an IDE) if you'd like.
# Though only code in lab01.py will be graded!

In [5]:
# Add more cells if you'd like!

Test your code in two ways:
1. Run the cell below to test your code. You should also copy the cell and change the input to test further (i.e. write your own doctests)! Does it work for corner cases? Real-world data is **very messy** and you should expect your data processing code to break without thorough testing!
2. Run doctests on `lab01.py` by running the following command on the commandline:
```
python -m doctest lab01.py
```
If the doctests pass, then there should be *no* output.

In [6]:
# test your code!
lab.consecutive_ints([1,3,2,4])

True

In [7]:
lab.consecutive_ints([0])

False

In [8]:
lab.consecutive_ints([])

False

---
**Question 1 (median):**

Write a function called *median* that takes a non-empty list of numbers, returning the median element of the list. If the list has even length, it should return the mean of the two elements in the middle. Do not use any imported libraries for this question; you may use any built-in function.

In [9]:
lab.median([6, 5, 4, 3, 2]) == 4

True

In [10]:
lab.median([50, 20, 15, 40]) == 30

True

In [11]:
lab.median([1, 2, 3, 4]) == 2.5

True

In [12]:
lab.median([0]) == 0

True

In [13]:
# Try this
lab.median([0, -1, 1, 100]) == 0.5

True

---
**Question 2 (List Distances):**

Similar to Question 0, write a function that takes in a possibly empty list of integers and:
* Returns `True` if there exist two list elements $i$ places apart, whose distance as integers is also $i$.
* Otherwise, returns `False`.

Assume your inputs tend to satisfy the condition, and the pair(s) saitifying the condition tend to be close together; design your function to run faster for this case. (Optimizing your code for an assumed distribution of incoming data is very common in data science).

For example, because `3` and (the second) `5` are two places apart, and $|3-5| = 2$:
```
>>> lab.same_diff_ints([5,3,1,5,9,8])
True
```
Whereas:
```
>>> lab.same_diff_ints([1,3,5,7,9])
False
```

*Note*: Make sure to define some extreme test cases. Use the `%time` command to time your function!

In [14]:
%time lab.same_diff_ints([1,3,5,7,9])

Wall time: 0 ns

False

In [15]:
%time lab.same_diff_ints([5,3,1,5,9,8])

Wall time: 0 ns

True

In [16]:
%time lab.same_diff_ints([])

Wall time: 0 ns

False

In [17]:
%time lab.same_diff_ints([9,4,1,1,-4,-2])

Wall time: 0 ns

True

---
## Strings and Files

The following questions will help you (re)learn the basics of working with strings and reading data from files (which are read in as strings, by default).

---
**Question 3 (Prefixes):**

Write a function `prefixes` that takes a string and returns a string of every consecutive prefix of the input string. For example, `prefixes('Data!')` should return `'DDaDatDataData!'`.  (See the doctests for more examples).

Recall that [strings may be sliced](https://docs.python.org/3/tutorial/introduction.html#strings), like lists.

In [18]:
lab.prefixes('Data!')

'DDaDatDataData!'

In [19]:
lab.prefixes('Marina')

'MMaMarMariMarinMarina'

In [20]:
lab.prefixes('aaron')

'aaaaaraaroaaron'

---
**Question 4 (Evens reversed):**

Write a function `evens_reversed` that takes in a non-negative integer $N$ and returns a string containing all even integers from $1$ to $N$ (inclusive) in reversed order, separated by spaces. Additionally, [zero pad](https://www.tutorialspoint.com/python/string_zfill.htm) each integer, so that each has the same length.

In [21]:
lab.evens_reversed(7)

'6 4 2'

In [22]:
lab.evens_reversed(10)

'10 08 06 04 02'

In [23]:
%time lab.evens_reversed(0)

Wall time: 0 ns

''

In [24]:
%time lab.evens_reversed(100)

Wall time: 0 ns

'100 098 096 094 092 090 088 086 084 082 080 078 076 074 072 070 068 066 064 062 060 058 056 054 052 050 048 046 044 042 040 038 036 034 032 030 028 026 024 022 020 018 016 014 012 010 008 006 004 002'

---

[Recall](https://docs.python.org/3/tutorial/inputoutput.html#reading-and-writing-files) that the built-in function `open` takes in a file path and returns *a file object* (sometimes called a *file handle*). Below are a few properties of file objects:

* `open(path)` opens the file at location `path` for reading.
* `open(path)` is an *iterable*, which contains successive lines of the file.
* Once a file object is opened, after use it should be closed to avoid memory leaks. To ensure a file is closed once done, you should use a *context manager* as follows:
```
with open(path) as fh:
    for line in fh:
        process_line(line)
```
* To read the entire file into a string, use the read method:
```
with open(path) as fh:
    s = fh.read()
```
However, you should be careful when reading an entire file into memory that the file isn't too big! *You should avoid this whenever possible!*

**Question 5 (Reading Files):**

Create a function `last_chars` that takes a file object and returns a string consisting of the last character of the line.

*Remark:* A newline is the "delimiter" of the lines of a file, and doesn't count as part of the line (as the tests imply). Every other character is part of the line. For more info on this, see [the interpretation](https://en.wikipedia.org/wiki/Newline#Interpretation) of files as a 'newline delimited variables' file.

In [25]:
fp = os.path.join('data', 'chars.txt')
lab.last_chars(open(fp))

'hrg'

In [26]:
empty_fp = os.path.join('data', 'empty.txt')
lab.last_chars(open(empty_fp))

''

In [27]:
multi_fp = os.path.join('data', 'multipleNewLines.txt')
lab.last_chars(open(multi_fp))

's,t?.sen'

---

## `numpy` exercises

For an introduction to arrays and `numpy` recall the relevant section of [DSC 10](https://www.inferentialthinking.com/chapters/05/1/Arrays.html).

**Question 6 (Basic Arrays):**

Create the following functions using `numpy` methods satisfying the requirements given in each part. Your solutions should **not** contain any loops or list comprehensions.

* A function `arr_1` that takes in a `numpy` array and adds to each element the square-root of the index of each element.

* A function `arr_2` that takes in a `numpy` array of integers and returns a boolean array (i.e. an array of booleans) whose `ith` element is `True` if and only if the `ith` element of the input array is divisble by 16.

* A function `arr_3` that takes in a `numpy` array of [stock prices](https://en.wikipedia.org/wiki/Stock) per share on successive days in USD and returns an array of growth rates. That is, the `ith` number of the output array should contain the rate of growth in stock price between the $i^{th}$ day to the $(i+1)^{th}$ day. The growth rate should be a proportion, rounded to the nearest hundredth.

* Suppose:
    - `A` is a `numpy` array of [stock prices](https://en.wikipedia.org/wiki/Stock) per share for a company on successive days in USD 
    - you start with \\$20, and put aside \\$20 at the end of each day to buy as much stock as possible the following day. 
    - Any money left-over after a given day is saved for possibly buying stock on a future day. 
    - Create a function `arr_4` that takes in `A` and returns the day on which you can buy at least one share from 'left-over' money. If this never happens, return `-1`. The first stock purchase occurs on day 0. *Note: you cannot buy fractions of a share of stock*.
    
*Example:* If the stock price is \\$3 every day, then the answer is 'day 1':
* day 0: buy 6 shares; \\$2 left-over; \\$22 at end of day.
* day 1: buy 7 shares; \\$1 left-over; \\$21 at end of day.
This is more than the 6 shares that \\$20 can buy.

In [28]:
arr1 = np.array([1, 2, 3, 4])
lab.arr_1(arr1)

array([ 1,  4,  9, 16])

In [29]:
arr2 = np.array([1, 2, 16, 17, 32, 33])
lab.arr_2(arr2)

array([False, False,  True, False,  True, False])

In [30]:
fp = os.path.join('data', 'stocks.csv')
stocks = np.array([float(x) for x in open(fp)])
lab.arr_3(stocks)

array([-0.  ,  0.01, -0.01,  0.  ,  0.  , -0.  ,  0.02,  0.01,  0.02,
        0.01,  0.01,  0.  ,  0.  ,  0.01, -0.  , -0.01, -0.  ,  0.  ,
       -0.01,  0.01,  0.  , -0.  ,  0.02,  0.  ,  0.01, -0.  ,  0.  ,
        0.01, -0.02,  0.01,  0.  , -0.01,  0.01,  0.  , -0.  , -0.01,
        0.01,  0.03, -0.01, -0.  ,  0.01,  0.01,  0.  ,  0.  , -0.  ,
        0.01,  0.01, -0.  ,  0.  ,  0.02, -0.01, -0.01,  0.01, -0.01,
        0.01,  0.02, -0.01, -0.01, -0.  ,  0.01,  0.  , -0.  ,  0.  ,
        0.01, -0.  ,  0.01, -0.  ,  0.01,  0.01,  0.01, -0.  , -0.  ,
        0.01,  0.  ,  0.  ,  0.02, -0.02, -0.  ,  0.01,  0.  ,  0.01,
        0.01, -0.  , -0.02, -0.01, -0.01, -0.01, -0.01,  0.  ,  0.01,
        0.01,  0.01, -0.  ,  0.  , -0.  , -0.01,  0.01,  0.01,  0.  ])

In [31]:
stocks4 = np.array([3, 3, 3, 3])
lab.arr_4(stocks4)

1

In [32]:
stocks5 = np.array([1, 3, 5, 7])
lab.arr_4(stocks5)

3

In [33]:
lab.arr_4(stocks)

7

---
## Getting Started with Pandas

The following questions will help you get comfortable with Pandas. These questions are similar to questions on tables in DSC 10; review the [textbook](https://www.inferentialthinking.com) as necessary. As always for Pandas questions:
1. Avoid writing loops through the rows of the dataset to do the problem, and
2. Test the output/correctness of your code with the help of the dataset given, but be sure your code will also run on data "like" the dataset given (sampling rows using the `.sample` method is useful for this!).

**Question 7 (Pandas basics):**

Read in the file `movies_by_year.csv` in the `data` directory and understand the dataset by answering the following questions. To do this, create a function `movie_stats` that takes in a dataframe like `movies` and returns a series containing the following statistics:
* The number of years covered by the dataset (`num_years`).
* The total number of movies made over all years in the dataset (`tot_movies`).
* The year with the fewest number of movies made; a tie should return the earliest year (`yr_fewest_movies`).
* The average amount of money grossed over all the years in the dataset (`avg_gross`).
* The year with the highest gross *per movie* (`highest_per_movie`).
* The name of the top movie during the second-lowest (total) grossing year (`second_lowest`).
* The average number of movies made the year *after* a Harry Potter movie was the #1 movie (`avg_after_harry`).

The index of the output series are given in parenthesis above.

*Note*: Your function should work on a dataset of the same format that contains information from other years. You may assume that none of the answers involving ranking returns a tie.

*Note*: To make sure your function still runs, in the event that one of the 7 parts throws an exception (e.g. due to a very incorrect answer), use `Try... Except...` structures.

In [34]:
movie_fp = os.path.join('data', 'movies_by_year.csv')
movies = pd.read_csv(movie_fp)

In [35]:
# Total number of years
num_years = len(movies['Year'])
num_years

34

In [36]:
# Total number of movies
tot_movies = np.sum(movies['Number of Movies'])
tot_movies

17834

In [37]:
# Earliest year with fewest movies
yr_fewest_movies = np.min(movies[movies['Number of Movies'] == np.min(movies['Number of Movies'])]['Year'])
yr_fewest_movies

1990

In [38]:
# Average gross
avg_gross = np.mean(movies['Total Gross'])
avg_gross

7226.914705882354

In [39]:
# Year with highest gross per movie
highest_per_movie = movies.loc[(movies['Total Gross'] / movies['Number of Movies']).idxmax()]['Year']
highest_per_movie

2009

In [40]:
# Name of top movie during the second-lowest total gross year
second_lowest = movies[movies['Total Gross'] == movies['Total Gross'].nsmallest().iloc[1]]['#1 Movie'].iloc[0]
second_lowest

'Back to the Future'

In [41]:
# Average number of movies made the year after a Harry Potter movie was the top movie
avg_after_harry = np.mean(movies[movies['Year'].isin(movies[movies['#1 Movie'].str.contains(pat='Harry Potter')]['Year'].values + 1)]['Number of Movies'])
avg_after_harry

573.0

In [42]:
dic = {}
# movies = movies.sort_values('Year')
try: # Total number of years
    num_years = len(movies['Year'])
    dic.update({'num_years': num_years})
except:
    pass

try: # Total number of movies
    tot_movies = np.sum(movies['Number of Movies'])
    dic.update({'tot_movies': tot_movies})
except:
    pass

try: # Earliest year with fewest movies
    yr_fewest_movies = np.min(movies[movies['Number of Movies'] == np.min(movies['Number of Movies'])]['Year'])
    dic.update({'yr_fewest_movies': yr_fewest_movies})
except:
    pass

try: # Average gross
    avg_gross = np.mean(movies['Total Gross'])
    dic.update({'avg_gross': avg_gross})
except:
    pass

try: # Year with highest gross per movie
    highest_per_movie = movies.loc[(movies['Total Gross'] / movies['Number of Movies']).idxmax()]['Year']
    dic.update({'highest_per_movie': highest_per_movie})
except:
    pass

try: # Name of top movie during the second-lowest total gross year
    second_lowest = movies[movies['Total Gross'] == movies['Total Gross'].nsmallest().iloc[1]]['#1 Movie'].iloc[0]
    dic.update({'second_lowest': second_lowest})
except:
    pass

try: # Average number of movies made the year after a Harry Potter movie was the top movie
    avg_after_harry = np.mean(movies[movies['Year'].isin(movies[movies['#1 Movie'].str.contains(pat='Harry Potter')]['Year'].values + 1)]['Number of Movies'])
    dic.update({'avg_after_harry': avg_after_harry})
except:
    pass

series = pd.Series(dic)
series

num_years                            34
tot_movies                        17834
yr_fewest_movies                   1990
avg_gross                       7226.91
highest_per_movie                  2009
second_lowest        Back to the Future
avg_after_harry                     573
dtype: object

In [43]:
lab.movie_stats(movies)

num_years                            34
tot_movies                        17834
yr_fewest_movies                   1990
avg_gross                       7226.91
highest_per_movie                  2009
second_lowest        Back to the Future
avg_after_harry                     573
dtype: object

---

## CSV Files

**Question 8 (Reading malformed csv files):**

`malformed.csv` contains a file of comma-separated values, containing the following fields:


|column name|description|type|
|---|---|---|
|first|first name of person|str|
|last|last name of person|str|
|weight|weight of person (lbs)|float|
|height|height of person (in)|float|
|geo|location of person; comma-separated latitude/longitude|str|

Unfortunately, the entries contains errors that cause the Pandas `read_csv` function to fail parsing the file with the default settings. Instead, you must read in the file manually using Python's built-in `open` function.

Clean the csv file into a Pandas DataFrame with columns as described in the table above, by creating a function called `parse_malformed` that takes in a file path and returns a parsed, properly-typed dataframe. The dataframe should contain columns as described in the table above (with the specified types); it should agree with `pd.read_csv` when the lines are not malformed.


*Note:* Assume that the given csv file is a sample of a larger file; you will be graded against a **different** sample of the larger file that has the same type of parsing errors. That is, you should **not** hard-code your cleaning of the data to specific errors on specific lines in the data.

In [44]:
df = pd.read_csv('data/malformed.csv', error_bad_lines = False) # line 33, 50, 57, 78, 84, 89, 90, 92, 94

b'Skipping line 33: expected 5 fields, saw 6\nSkipping line 50: expected 5 fields, saw 6\nSkipping line 57: expected 5 fields, saw 9\nSkipping line 78: expected 5 fields, saw 8\nSkipping line 84: expected 5 fields, saw 6\nSkipping line 89: expected 5 fields, saw 6\nSkipping line 90: expected 5 fields, saw 6\nSkipping line 92: expected 5 fields, saw 6\nSkipping line 94: expected 5 fields, saw 6\n'

In [45]:
df = pd.DataFrame(columns=['first', 'last', 'weight', 'height', 'geo'])
fp = os.path.join('data', 'malformed.csv')
with open(fp) as file:
    file.readline() # Get rid of title
    for i, line in enumerate(file):
        content = line.rstrip().split(',') # Strip new lines
        content = list(filter(None, content)) # Remove empty strings
        content[-2:] = [','.join(content[-2:])] # Combine geo elements
        content = list(map(lambda it: it.strip('\"'), content)) # Strip elements of ""
        content[2] = float(content[2]) # Cast weight as float
        content[3] = float(content[3]) # Cast height as float
        print(i, content, len(content) == 5)
        df = df.append(pd.Series(content, index=['first', 'last', 'weight', 'height', 'geo']), ignore_index=True)
df

0 ['Julia', 'Wagner', 142.0, 86.0, '39.8,15.4'] True
1 ['Angelica', 'Rija', 155.0, 56.0, '38.2,-71.7'] True
2 ['Tyler', 'Micajah', 116.0, 73.0, '38.0,6.9'] True
3 ['Kathleen', 'Nakea', 163.0, 69.0, '36.3,-86.8'] True
4 ['Axel', 'Ronit', 95.0, 74.0, '36.8,128.2'] True
5 ['Amiya', 'Kyona', 130.0, 72.0, '36.3,114.5'] True
6 ['Torrey', 'Joshuacaleb', 105.0, 79.0, '38.3,145.1'] True
7 ['Mariah', 'Alese', 149.0, 68.0, '36.1,45.7'] True
8 ['Grayson', 'Daimen', 140.0, 80.0, '38.1,-72.6'] True
9 ['Yvette', 'Trayce', 179.0, 67.0, '36.9,-8.3'] True
10 ['Cody', 'Hatim', 150.0, 63.0, '38.0,-7.3'] True
11 ['Marissa', 'Daud', 135.0, 58.0, '37.3,11.0'] True
12 ['Logan', 'Cristel', 133.0, 67.0, '35.5,-110.2'] True
13 ['Kaiyah', 'Brinden', 187.0, 82.0, '34.8,83.2'] True
14 ['Ivan', 'Devyne', 193.0, 54.0, '36.6,262.0'] True
15 ['Shamaria', 'Aldrick', 139.0, 73.0, '38.5,-94.6'] True
16 ['Travis', 'Anavictoria', 117.0, 62.0, '36.3,69.5'] True
17 ['Kennedy', 'Dalynn', 171.0, 77.0, '37.3,-27.5'] True
18 ['Alina', 'Danniell', 105.0, 55.0, '37.4,314.7'] True
19 ['Cameron', 'Angelica', 139.0, 56.0, '38.8,-79.3'] True
20 ['Madison', 'Barkley', 120.0, 69.0, '38.2,86.1'] True
21 ['Jackson', 'Taylr', 113.0, 78.0, '36.7,56.7'] True
22 ['Agustin', 'Stephanye', 91.0, 62.0, '36.4,54.5'] True
23 ['Janesha', 'Jhayla', 143.0, 64.0, '35.9,-70.5'] True
24 ['Nickolas', 'Karenna', 159.0, 75.0, '35.9,-73.9'] True
25 ['Stacy', 'Meaghen', 149.0, 68.0, '36.6,-27.7'] True
26 ['Matthew', 'Kalis', 166.0, 66.0, '37.8,0.2'] True
27 ['Rayona', 'Treniece', 151.0, 59.0, '37.2,140.1'] True
28 ['Jack', 'Hanai', 164.0, 70.0, '38.6,-63.6'] True
29 ['Hayley', 'Zsazsa', 146.0, 62.0, '36.2,-2.6'] True
30 ['Jacqueline', 'Treyten', 164.0, 73.0, '37.1,-56.1'] True
31 ['Anthony', 'Janaysia', 127.0, 77.0, '39.1,93.6'] True
32 ['Saige', 'Kalieb', 144.0, 61.0, '38.2,16.2'] True
33 ['Tiffany', 'Jamire', 160.0, 87.0, '37.6,155.0'] True
34 ['Nichole', 'Derryk', 134.0, 66.0, '36.9,-52.0'] True
35 ['Litzi', 'Keairah', 137.0, 69.0, '36.8,182.4'] True
36 ['Timothy', 'Montrice', 151.0, 65.0, '36.7,69.2'] True
37 ['Alicia', 'Lilijana', 161.0, 77.0, '37.2,56.9'] True
38 ['Margaret', 'Ruthie', 143.0, 65.0, '36.7,69.2'] True
39 ['Javier', 'Allycia', 121.0, 71.0, '37.3,79.6'] True
40 ['Melanie', 'Vincent', 112.0, 60.0, '37.3,123.5'] True
41 ['Jesus', 'Brennden', 145.0, 75.0, '38.6,-43.4'] True
42 ['John', 'Zyon', 115.0, 77.0, '38.1,-106.3'] True
43 ['David', 'Aubrea', 122.0, 62.0, '38.0,-21.9'] True
44 ['Wesley', 'Laniece', 165.0, 68.0, '37.2,71.2'] True
45 ['Lindsey', 'Alima', 79.0, 66.0, '36.2,-61.4'] True
46 ['Kenneth', 'Kimo', 124.0, 54.0, '37.0,49.6'] True
47 ['Lauryn', 'Milia', 133.0, 62.0, '37.7,113.6'] True
48 ['Ryan', 'Elleanor', 149.0, 68.0, '37.0,-32.3'] True
49 ['Keyara', 'Rozlyn', 148.0, 70.0, '37.5,74.6'] True
50 ['Tyree', 'Windy', 128.0, 80.0, '36.9,83.6'] True
51 ['Tori', 'Adithi', 187.0, 68.0, '35.5,-12.4'] True
52 ['Carolina', 'Cecille', 154.0, 71.0, '38.6,12.4'] True
53 ['Emmanuel', 'Leidi', 112.0, 61.0, '37.6,64.6'] True
54 ['Andrew', 'Vikrant', 90.0, 61.0, '36.6,36.9'] True
55 ['Donovan', 'Randa', 120.0, 73.0, '36.5,28.2'] True
56 ['Rachel', 'Alexiz', 145.0, 67.0, '38.0,36.4'] True
57 ['Dylan', 'Aryon', 104.0, 65.0, '35.0,18.0'] True
58 ['Jeevan', 'Ardit', 148.0, 71.0, '36.9,-58.9'] True
59 ['Kaitlin', 'Isrrael', 108.0, 78.0, '36.2,16.0'] True
60 ['Vanessa', 'Guiselle', 96.0, 77.0, '38.0,86.0'] True
61 ['Alyssa', 'Gillian', 88.0, 69.0, '38.2,252.0'] True
62 ['Christina', 'Jerard', 178.0, 77.0, '38.2,-57.5'] True
63 ['Hayli', 'Marton', 125.0, 73.0, '37.7,-93.7'] True
64 ['Isabella', 'Laverne', 117.0, 76.0, '36.4,88.1'] True
65 ['Parker', 'Kerly', 160.0, 59.0, '36.7,139.3'] True
66 ['Madeleine', 'Amritpal', 166.0, 58.0, '36.2,51.4'] True
67 ['Keaton', 'Kinzy', 119.0, 64.0, '36.4,20.5'] True
68 ['Mercedes', 'Tarika', 129.0, 70.0, '37.0,-56.8'] True
69 ['Dallen', 'Keshae', 127.0, 75.0, '37.1,-113.1'] True
70 ['Shay', 'Marcea', 103.0, 65.0, '36.0,-33.1'] True
71 ['Adrianna', 'Karsten', 157.0, 81.0, '34.8,36.1'] True
72 ['Max', 'Nairi', 113.0, 67.0, '36.9,12.2'] True
73 ['Suzanne', 'Dearion', 129.0, 70.0, '36.9,-70.4'] True
74 ['Camryn', 'Tasnim', 126.0, 63.0, '36.5,19.8'] True
75 ['Cielo', 'Saylah', 103.0, 65.0, '36.1,83.1'] True
76 ['Annastasia', 'Averi', 91.0, 67.0, '37.1,-43.7'] True
77 ['Hannah', 'Jerit', 142.0, 53.0, '36.6,10.3'] True
78 ['Jovita', 'Marquaveon', 150.0, 70.0, '38.2,-32.6'] True
79 ['Jasmine', 'Jahmal', 107.0, 72.0, '38.5,9.1'] True
80 ['Cheyenne', 'Gerrid', 55.0, 71.0, '36.6,68.2'] True
81 ['Karma', 'Nameer', 131.0, 65.0, '37.5,69.8'] True
82 ['Madeline', 'Cira', 128.0, 65.0, '37.4,149.6'] True
83 ['Connor', 'Sheridyn', 141.0, 73.0, '36.8,-80.7'] True
84 ['Sarah', 'Sunday', 180.0, 54.0, '36.7,-5.6'] True
85 ['Victoria', 'Maliik', 164.0, 60.0, '36.3,151.2'] True
86 ['George', 'Tyshonna', 105.0, 74.0, '37.5,-91.5'] True
87 ['Marquis', 'Kylar', 137.0, 51.0, '38.2,228.4'] True
88 ['Marlene', 'Fatuma', 117.0, 64.0, '36.4,-9.5'] True
89 ['Kathryn', 'Diondra', 149.0, 65.0, '38.3,68.0'] True
90 ['Jonathan', 'Jersey', 107.0, 77.0, '36.0,11.8'] True
91 ['Joshua', 'Caileen', 181.0, 67.0, '37.3,79.0'] True
92 ['Emily', 'Leonid', 146.0, 57.0, '37.8,-68.7'] True
93 ['Jacqualyn', 'Angelea', 116.0, 63.0, '36.4,-31.5'] True
94 ['Gionna', 'Pamala', 180.0, 79.0, '38.6,-28.6'] True
95 ['Yasmeen', 'Jahron', 135.0, 84.0, '38.3,-127.3'] True
96 ['Meghan', 'Carlyann', 101.0, 66.0, '36.6,80.5'] True
97 ['Tess', 'Shree', 146.0, 68.0, '38.8,64.9'] True
98 ['Maria', 'Kalvyn', 115.0, 51.0, '37.1,-90.4'] True
99 ['Lexie', 'Cheyenna', 151.0, 71.0, '35.9,86.1'] True

         first         last  weight  height          geo
0        Julia       Wagner   142.0    86.0    39.8,15.4
1     Angelica         Rija   155.0    56.0   38.2,-71.7
2        Tyler      Micajah   116.0    73.0     38.0,6.9
3     Kathleen        Nakea   163.0    69.0   36.3,-86.8
4         Axel        Ronit    95.0    74.0   36.8,128.2
5        Amiya        Kyona   130.0    72.0   36.3,114.5
6       Torrey  Joshuacaleb   105.0    79.0   38.3,145.1
7       Mariah        Alese   149.0    68.0    36.1,45.7
8      Grayson       Daimen   140.0    80.0   38.1,-72.6
9       Yvette       Trayce   179.0    67.0    36.9,-8.3
10        Cody        Hatim   150.0    63.0    38.0,-7.3
11     Marissa         Daud   135.0    58.0    37.3,11.0
12       Logan      Cristel   133.0    67.0  35.5,-110.2
13      Kaiyah      Brinden   187.0    82.0    34.8,83.2
14        Ivan       Devyne   193.0    54.0   36.6,262.0
15    Shamaria      Aldrick   139.0    73.0   38.5,-94.6
16      Travis  Anavictoria   117.0    62.0    36.3,69.5
17     Kennedy       Dalynn   171.0    77.0   37.3,-27.5
18       Alina     Danniell   105.0    55.0   37.4,314.7
19     Cameron     Angelica   139.0    56.0   38.8,-79.3
20     Madison      Barkley   120.0    69.0    38.2,86.1
21     Jackson        Taylr   113.0    78.0    36.7,56.7
22     Agustin    Stephanye    91.0    62.0    36.4,54.5
23     Janesha       Jhayla   143.0    64.0   35.9,-70.5
24    Nickolas      Karenna   159.0    75.0   35.9,-73.9
25       Stacy      Meaghen   149.0    68.0   36.6,-27.7
26     Matthew        Kalis   166.0    66.0     37.8,0.2
27      Rayona     Treniece   151.0    59.0   37.2,140.1
28        Jack        Hanai   164.0    70.0   38.6,-63.6
29      Hayley       Zsazsa   146.0    62.0    36.2,-2.6
..         ...          ...     ...     ...          ...
70        Shay       Marcea   103.0    65.0   36.0,-33.1
71    Adrianna      Karsten   157.0    81.0    34.8,36.1
72         Max        Nairi   113.0    67.0    36.9,12.2
73     Suzanne      Dearion   129.0    70.0   36.9,-70.4
74      Camryn       Tasnim   126.0    63.0    36.5,19.8
75       Cielo       Saylah   103.0    65.0    36.1,83.1
76  Annastasia        Averi    91.0    67.0   37.1,-43.7
77      Hannah        Jerit   142.0    53.0    36.6,10.3
78      Jovita   Marquaveon   150.0    70.0   38.2,-32.6
79     Jasmine       Jahmal   107.0    72.0     38.5,9.1
80    Cheyenne       Gerrid    55.0    71.0    36.6,68.2
81       Karma       Nameer   131.0    65.0    37.5,69.8
82    Madeline         Cira   128.0    65.0   37.4,149.6
83      Connor     Sheridyn   141.0    73.0   36.8,-80.7
84       Sarah       Sunday   180.0    54.0    36.7,-5.6
85    Victoria       Maliik   164.0    60.0   36.3,151.2
86      George     Tyshonna   105.0    74.0   37.5,-91.5
87     Marquis        Kylar   137.0    51.0   38.2,228.4
88     Marlene       Fatuma   117.0    64.0    36.4,-9.5
89     Kathryn      Diondra   149.0    65.0    38.3,68.0
90    Jonathan       Jersey   107.0    77.0    36.0,11.8
91      Joshua      Caileen   181.0    67.0    37.3,79.0
92       Emily       Leonid   146.0    57.0   37.8,-68.7
93   Jacqualyn      Angelea   116.0    63.0   36.4,-31.5
94      Gionna       Pamala   180.0    79.0   38.6,-28.6
95     Yasmeen       Jahron   135.0    84.0  38.3,-127.3
96      Meghan     Carlyann   101.0    66.0    36.6,80.5
97        Tess        Shree   146.0    68.0    38.8,64.9
98       Maria       Kalvyn   115.0    51.0   37.1,-90.4
99       Lexie     Cheyenna   151.0    71.0    35.9,86.1

[100 rows x 5 columns]

## Congratulations! You're done!

* Submit the lab on Gradescope